# My SQL Connection and Operation on PYTHON

You need to know the SQL commands to operate. Remember, never close MYSQL workbench else it will not run. let it sit in the background

In [5]:
!pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in c:\programdata\anaconda3\lib\site-packages (8.0.25)
Requirement already satisfied: protobuf>=3.0.0 in c:\programdata\anaconda3\lib\site-packages (from mysql-connector-python) (3.17.0)
Requirement already satisfied: six>=1.9 in c:\programdata\anaconda3\lib\site-packages (from protobuf>=3.0.0->mysql-connector-python) (1.15.0)

In [6]:
import mysql.connector as connection

try:
    mydb = connection.connect(host="localhost",user="root",passwd = "jf&h@123",use_pure=True)
    # check i fht e connection is established
    
    query = "SHOW DATABASES"
    
    cursor = mydb.cursor() # create a cursor to execute queries
    cursor.execute(query)
    print(cursor.fetchall())
    
except Exception as e:
    mydb.close()
    print(str(e))

[('information_schema',), ('mysql',), ('performance_schema',), ('sys',), ('tutorial',)]

In [7]:
print(cursor.fetchall())

[]

In [9]:
mydb = connection.connect(host="localhost",user="root",passwd = "jf&h@123",use_pure=True)
    # check i fht e connection is established
    
query = "SHOW DATABASES"

cursor = mydb.cursor() # create a cursor to execute queries
cursor.execute(query)
print(cursor.fetchall())

[('information_schema',), ('mysql',), ('performance_schema',), ('sys',), ('tutorial',)]

In [12]:
cursor.execute ("create database Ineuron")

In [32]:
mydb = connection.connect(host="localhost",user="root",passwd = "jf&h@123", database = 'ineuron',use_pure=True)

In [33]:
mydb.is_connected()

True

In [34]:
cur = cursor

In [16]:
cur = mydb.cursor()
cur.execute("create table jay_practice(x1 INT(10), x2 varchar(20), x3 date)")

In [25]:
cur.execute("insert into jay_practice values(1001,'avani','2011-05-15')")

In [26]:
mydb.commit()

In [35]:
cur = mydb.cursor()
cur.execute("select * from jay_practice")

In [36]:
cur.fetchall()

[(1000, 'jay', datetime.date(2011, 5, 15)),
 (1001, 'avani', datetime.date(2011, 5, 15))]

In [37]:
cur.execute("select x1, x2 from jay_practice")

In [39]:
cur.fetchall()

[]

In [45]:
cur = mydb.cursor()  # Run this code everytime you run a code while using database.

# Operating MySQL using PANDAS Library

In [41]:
import pandas as pd

In [44]:
pd.read_sql("select * from jay_practice",mydb)

     x1     x2          x3
0  1000    jay  2011-05-15
1  1001  avani  2011-05-15

Pandas is a neater way of working with MYSQL Database.